* {
    --vanilla: #e3e7afff;
    --sage: #a2a77fff;
    --cream: #eff1c5ff;
    --lapis-lazuli: #035e7bff;
    --dark-green: #002e2cff; 
    --dark-green-50: #002e2ccc;
    --white: #fff;
    --black: #000;

    --fontLight: 'JetBrains Mono', monospace, sans-serif;
    --fontLightItalic: 'JetBrains Mono', monospace, sans-serif;
    --fontRegular: 'JetBrains Mono', monospace, sans-serif;
    --fontRegularItalic: 'JetBrains Mono', monospace, sans-serif;
    --fontBold: 'JetBrains Mono', monospace, sans-serif;
    --fontBoldItalic: 'JetBrains Mono', monospace, sans-serif;

}

body {
    overflow-y: auto;
    overflow-x: auto;
    margin: 0;
    background: var(--cream);
    font-family: var(--fontRegular);
}

.banner-section {
    color: white;
    height: 100svh;
    background: linear-gradient(0deg, var(--dark-green-50), var(--dark-green-50)), center url("../img/software-developer.jpg") no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
}

.banner-section > article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-section article h1 {
    /* font-family: var(--fontBold); */
    text-align: left;
    animation: fadeInBanner;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    margin: 0 12px 0 12px;
}

.banner-section article p {
    text-align: left;
    animation: fadeInBanner;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    margin: 0 12px 0 12px;
    width: 80%;
}

.main-menu {
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
}

.main-menu span {
    margin-left: 12px;
}

.main-menu ul {
    margin-right: 12px;
}

.main-menu ul li {
    display: inline;
    text-decoration: none;
}

/* .main-menu ul li:hover {
    display: block;
    text-decoration: none;
    scale: 2;
} */

.main-menu ul li a {
    color: var(--cream);
    text-decoration: none;
    padding: 4px;
}

.external-links {
    animation: fadeInBanner;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-fill-mode: both;
    box-sizing: border-box;
    margin: 12px 12px 0 12px;
}

.external-links img {
    color: var(--vanilla);
    text-decoration: none;
    /* transition: filter 200ms ease-in-out; */
}

.external-links a:nth-child(even) {
    margin-left: 12px;
    margin-right: 12px;
}

.external-links img:hover{
    filter: drop-shadow(0 0 .75rem var(--white));
    transition-duration: 500ms;
}

h2 {
    text-align: center;
}

.experience-section {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-section {
    position: relative;
    min-height: 100svh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    width: 90%;
    margin: auto;
    margin-bottom: 12px;
}

.projects-section article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-section article header{
    position: absolute;
    top: 0;
    left: 0;
}

.projects-section article {
    background: var(--sage);
}

.page-footer {
    background-color: var(--dark-green);
}

.contact-form {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.contact-form form{
    text-align: center;
}

.contact-form fieldset{
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0;
}

.contact-form fieldset legend{
    padding: 0 8px;
    color: var(--cream);
}

.contact-form fieldset .form-item, .form-item-terms {
    margin-top: 8px;
}

.contact-form fieldset .form-item label{
    display: none;
    color: var(--cream);
    width: 15%;
}

.contact-form .form-item input {
    background-color: white;
    border: none;
    outline: 1px solid var(--cream);
    width: 100%;
}

.contact-form .form-item select {
    background-color: white;
    border: none;
    outline: 1px solid var(--cream);
    width: 100%;
}

.contact-form .form-item-terms label {
    color: var(--cream);
}

/* .contact-form .form-item-terms input[type='checkbox'] {
} */

.contact-form input:focus {
    /* background-color: blue; */
    box-shadow: inset 0px 0px 5px 1px var(--cream);
}

.contact-form form input[type='submit'] {
    color: var(--vanilla);
    font-weight: var(--fontBold);
    width: 50%;
    border: none;
    outline: 1px solid var(--vanilla);
    background-color: var(--lapis-lazuli);
}

@media (prefers-reduced-motion: reduce) {
    .main-menu ul li a {
        transition: none;
    }
}

@keyframes fadeInBanner {
    0%  {
        opacity: 0;
    }
    25%  {
        opacity: .25;
    }
    50%  {
        opacity: .5;
    }
    75%  {
        opacity: .75;
    }
    100%  {
        opacity: 1;
    }
}

/* Start media for mobile */
/* Start media for tablet */
/* Start media for large */
/* Start media for xlarge */